* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url("/img/FUNDO-SITE.png");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


h1,h2 {
    color: white;
}


/* ----------header------------------ */


.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    padding: 50px;
    height: 100vh;
}

.container-header img {
    border-radius: 50%;
    border: 1px solid grey;
    width: 300px;
}



.perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}


.perfil i {
    font-size: 50px;
    color: grey;
    margin-left: 15px;
    margin-top: 10px;
    
}

.perfil i:hover{
    border: none;
    animation-name: icone;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
     animation-fill-mode: forwards;
}
    

@keyframes icone{
    to {
      border-radius: 50%;
      color: white;
      transform: rotate(360deg);
    }
  }

  .nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    border: 1px solid grey;
    padding: 5px 10px;
}


.nav a {
    text-decoration: none;
    color: white transparent;
}

.nav a:visited{
    color: grey;
}
    

.nav a:hover{
    border-bottom: 1px solid white;
    border-right: .1px solid grey;
    color: white;
}
/* -----------section-------------- */

    
section {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid grey;
    background-color: black;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image:url(/img/FUNDO-SITE.png) ;
    
}

section  h2 {
   text-align: center;
   font-weight: bold;
   font-style: italic;
   font-size: 2em;
   margin-bottom: 40px;
   
 }
 
 section img{
   width: 25%;
 }







  
  






