* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url("/img/FUNDO-SITE.png");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    padding: 50px;
}

.container-header img {
    border-radius: 50%;
    border: 1px solid grey;
    width: 300px;
}

.container-header ul {
    display: flex;
    gap: 50px;
    list-style: none;
    border: 1px solid grey;
    padding: 5px 10px;
}

.container-header a {
    text-decoration: none;
    color: white transparent;
}

.container-header a:visited{
    color: grey;
}
    

.container-header a:hover{
    border-bottom: 1px solid white;
    border-right: .1px solid grey;
    color: white;
}
    

h1,h2 {
    color: white;
}

.perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}



.hard {
    margin-top: 100px;
}